{% extends "base.html" %}

{% block title %}Créer une Instance{% endblock %}

{% block content %}

<h1 class="mt-3">Modifier une Instance</h1>
<form action="{{url_for('update_resources')}}" method="POST">
    <div class="mb-3">
        <label for="instanceName" class="form-label">Nom de l'Instance</label>
        <input type="text" class="form-control" id="instanceName" name="name" placeholder="Entrez le nom de l'instance" required>
    </div>
    <div class="mb-3">
        <label for="instanceCpu" class="form-label">Nombre de CPU</label>
        <input type="number" class="form-control" id="instanceCpu" name="cpu" placeholder="Nombre de CPU (ex : 2)" min="1" required>
    </div>
    <div class="mb-3">
        <label for="instanceMemory" class="form-label">Mémoire (MB)</label>
        <input type="number" class="form-control" id="instanceMemory" name="memory" placeholder="Mémoire en MB (ex : 2048)" min="128" step="128" required>
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>
{% endblock %}
